@import 'tailwindcss';

@font-face {
  font-family: 'BM JUA';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.otf') format('opentype'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.ttf') format('truetype');
}

@theme {
  /* 폰트 */
  --font-*: initial;
  --font-baedal-Jua: 'BM JUA', sans-serif;

  /* 커스텀 색상 */
  --color-oguogu-main: #489f51;
  --color-oguogu-main-dark: #2e6337;
  --color-oguogu-main-light: #effcf2;

  --color-oguogu-white: #fafafa;
  --color-oguogu-gray-1: #e4e4e4;
  --color-oguogu-gray-2: #c8c8c8;
  --color-oguogu-gray-3: #969696;
  --color-oguogu-gray-4: #6a6a6a;

  --color-oguogu-black: #121212;
  --color-oguogu-yellow: #ffcc00;
  --color-oguogu-blue-light: #3c9afa;
  --color-oguogu-red: #fb2c36;

  /* 커스텀 중단점 */
  --breakpoint-*: initial;
  --breakpoint-mobile-min: 20rem;
  --breakpoint-mobile-max: 48rem;
}

@layer utilities {
  body {
    @apply bg-oguogu-main font-baedal-Jua text-oguogu-black;
  }

  .header {
    @apply h-12 sticky top-0 z-50 flex justify-between items-center p-3 bg-oguogu-white;
  }

  .headerForGarden {
    @apply h-12 sticky top-0 z-50 flex justify-between items-center p-3 bg-[#DBFCE7];
  }

  .secondHeader {
    @apply h-12 sticky top-12 z-50 bg-oguogu-white flex justify-between items-center;
  }

  .thirdHeader {
    @apply h-12 sticky top-24 z-50 bg-oguogu-white flex justify-between items-center;
  }

  /* 스크롤 바 숨기기 */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  /* 메인 페이지에서 추천 카테고리에 사용되는 공통 스타일 */
  .titleWithProductItem {
    @apply flex flex-col justify-center gap-y-4;
  }

  /* 텍스트가 한 줄에서 벗어났을 때, ... 으로 표기되는 공통 스타일 */
  .textElipsis {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
  }

  /* 상품 검색 결과 및 탐색 목록 페이지에서 개별 아이템들이 목록으로 정렬할 때의 기본 스타일, grid-cols-[...] 속성만 별도 정의 필요 */
  .itemGrid {
    @apply grid gap-x-2 gap-y-8 px-4 pb-4;
  }

  /* 상품 상세 페이지 상품 정보 배치 */
  .itemDataList {
    @apply text-sm mobile-max:text-base flex flex-col gap-3;
  }

  /* 상품 상세 페이지 개별 상품 정보 */
  .itemData {
    @apply text-oguogu-gray-4 min-w-[96px] mobile-max:w-[120px];
  }

  /* itemData 항목이 두 줄로 작성된 경우의 스타일링 */
  .itemDataExtra {
    @apply flex flex-col gap-1;
  }

  /* 애니메이션 */
  .animate-wave {
    animation: floatUp 2s ease-in-out infinite;
  }

  summary::-webkit-details-marker {
    /* Safari 브라우저용 사용자 정의 스타일 */
    display: none;
  }
  summary {
    list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
  }
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes floatUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
